name: Deploy Back-end (.NET)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'back-end/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore & Publish
        run: |
          dotnet restore back-end/GoogleSearching.Api.csproj
          dotnet publish back-end/GoogleSearching.Api.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: api-googlesearching-REPLACE_ME   # thay bằng output api_webapp_name từ Terraform
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }} # export từ Azure Portal
          package: ./publish

